*{
    margin: 0;
    padding: 0
    font-family 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background: #000000;
    color: #fff;
    margin-left: 0px;
}

html {
    font-size: 65%;
}

#background{
    width: 100%;
    height: 100vh;
    background-image: url(Backgroundko.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.con{
    margin-top: 0px;
    padding: 30px 30%;

}

.welcome{
    margin-top: 0%;
    font-size: 25px;
}

.welcome h1{
    font-size: 40px;
    margin-top: 0px;
    color: green;
}

.welcome p2{
    font-size: 18px;
    font-style: oblique;
}

#hobby{
    padding: 10px 0;
}

.hoblist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.hobbies{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.hobbies img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.con1{
    margin-top: 0px;
    padding: 30px 30%;
}

.hobinfo{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), #00d312);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.hobbies:hover img{
    transform: scale(1.1);
}

.hobbies:hover .hobinfo{
    height: 100%;
}

/*Button*/

.container{
    width: 100%;
    height: 100vh;
    background-color: #051321;
    background-image: url(Backgroundko.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card {
    width: 50rem;
}

.card-bio {
    background-color: #35a564;
    padding: 3rem 3rem 8rem 3rem;
    display: flex;
    border-radius: 0.5rem 0.5rem 0 0;
    position: relative;
    z-index: 100;
}

.person-info{
    width: 60%;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-shadow: 0 0.1rem 0.2 rgba(0, 0, 0, 0.3);
}

.person-info h3{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.personn-info p{
    font-size: 10rem;
}

.card-btn {
    position: absolute;
    bottom: -2.5rem;
    right: 10rem;
    width: 20rem;
    height: 6rem;
    background-color: #2b303a;
    color: #fff;
    border-radius: 5rem;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}

.change .card-btn{
    width: 6rem;
    right: 3rem;
    bottom: -3rem;
    border-radius: 50%;
}

.card-btn-member{
    transition: all 0.5s 0.1s;
}

.card-btn-member,
.card-btn i {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.change .card-btn-member {
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s;
}

.change .card-btn i {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

.card-btn i {
    opacity: 0;
    visibility: hidden;
}

.card-contact {
    background-color: #2d814d;
    color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    transform: translateY(-100%);
    transition: all 0.5s;
}

.change .card-contact{
    transform: translateY(0);
}

.card-contact h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
    transform: scale(0);
    transform-origin: left;
    transition: all 0.5s;
}

.change .card-contact h4 {
    transform: scale(1);
}

.card-social{
    background-color: #fff;
    padding: 1.5rem;
    margin: 2rem 0;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
}

.bry {
    transition: all 0.5s 0.3s;
}

.Louelle {
    transition: all 0.5s 0.5s;
}

.lordivan {
    transition: all 0.5s 0.7s;
}

.change .card-social {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.icon-wrapper {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.icon-wrapper img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.bry .icon-wrapper{
    background-color: #dd4b39;
}

.bry .icon-wrapper img{
    background-color: #dd4b39;
}

.Louelle .icon-wrapper{
    background-color: #3b5998;
}

.lordivan .icon-wrapper{
    background-color: #007bb6;
}

.member-details h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

.bry h4{
    color: #dd4b39;
}

.Louelle h4{
    color: #3b5998;
}

.lordivan h4{
    color: #007bb6;
}

.member-details p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    color: #444;
    letter-spacing: 0.1rem;
}

.card-social button{
    margin-left: auto;
    font-size: 2rem;
    font-weight: bold;
    color: #999;
}

.card-social a{
    margin-left: auto;
    font-size: 2rem;
    font-weight: bold;
    color: #999;
}